.ipynb_checkpoints/
.venv
/tmp
/.vscode
__pycache__
dogs-vs-cats.zip
small_train/
train/
small_test/
test/
small_val/
val/
train_all/
sampleSubmission.csv
improved_model
transfere_vgg_model.pkl
fine_tuned_vgg_model.pkl
arty_dc_vgg_model.pkl
